<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Insight HTML Email Template</title>
    <style type="text/css">
      * {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
      }
      html {
        font-size: 62.5%;
      }
      body {
        margin: 0;
        background-color: rgb(10, 10, 10);
        padding: 0 5%;
        font-family: "Poppins", sans-serif;
      }
      table {
        border-spacing: 0;
      }
      td {
        padding: 0;
      }
      img {
        border: 0;
      }
      /* utility Classes */
      .mt5px {
        margin-top: 0.5rem;
      }
      .mT20px {
        margin-top: 2rem;
      }
      .mT10px {
        margin-top: 10px;
      }

      /* utility Classes */
      .wrapper {
        max-width: 50rem;
        margin-inline: auto;
        table-layout: fixed;
        padding-top: 10px;
        padding-bottom: 20px;        background-color: rgb(10, 10, 10);

      }
      .main {
        background-color: rgb(10, 10, 10);
        width: 90%;
        font-family: sans-serif;
        color: rgb(251, 246, 246);
        z-index: 1;
        margin: auto;
      }
      .logoColumn {
        text-align: center;
        padding: 10px;
      }
      .width100 {
        width: 100%;
      }
      .heroHeading {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        color: rgb(251, 246, 246);
      }
      .heroHeading2 {
        font-size: 1rem;
        font-weight: 500;
        color: rgb(251, 246, 246);
      }
      .textYellow {
        font-size: 1rem;
        font-weight: 500;
       
      }
      .textGrey {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        color: rgb(112, 110, 110);
      }
      .textWhite {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        color: rgb(251, 246, 246);
      }
      .logoImage {
        width: 15%;
      }
      /* emailTextCol */
      .email_text_col {
        margin-top: 3rem;
      }
      .applicationTypography {
        font-size: 1rem;
        font-weight: 500;
        /* line-height: 150%; */
        word-spacing: 0.2rem;
        color: rgb(10, 10, 10);
      }
      .tr-spaceB{
        width: 100%;
        
        display: flex;
        justify-content:space-between;
        background-color: rgb(85, 86, 85) ;
        padding: 5px;
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <center class="wrapper">
      <table class="main">
        <tr>
          <td>
            <table
              class="width100"
              style="width: 100%; margin-top: 60px;   background-color: rgb(10, 10, 10);"
            >
              <tr>
                <td class="heroHeading">
                  <img
                    src="https://s3.ap-south-1.amazonaws.com/storage.saps.one/asset/mckeyylogo.png"
                    alt="logoImage"
                    class="logoImage"
                  />
                </td>
              </tr>
            </table>
            <hr style="margin-top: 20px" />
            <table style="width: 100%; margin-top: 20px">
              <table>
                <tr>
                  <td><h2>Mckey.io</h2></td>
                </tr>
              </table>
              <table class="mT10px">
                <tr>
                  <td>Rp <%= totalAmount %></td>
                </tr>
              </table>
              <table class="mT10px">
                <tr>
                  <td>CREDIT CARD</td>
                </tr>
              </table>
              <table class="mT10px width100"  
              
              >
              <table style="width: 100%; background-color: rgb(85, 86, 85); padding: 5px; margin-top: 10px;">
                <tr>
                  <td style="width: 50%; text-align: left;"><%= time %></td>
                  <td style="width: 50%; text-align: right;">ORDER ID: <%= orderId %></td>
                </tr>
              </table>

              <table class="width100">
                <tr style="background-color: green">
                  <td
                    class="mT10px textWhite"
                    style="align-items: center; padding: 5px"
                  >
                    SUCCESSFUL TRANSACTION
                  </td>
                </tr>
              </table>

              <table class="mT10px">
                <tr>
                  <td class="heroHeading2 mT10px">Dear <%= name %>,</td>
                </tr>
              </table>
              <table class="mT10px">
                <tr class="">
                  <td class="heroHeading2 mT10px">
                    Your transaction is succesfull. Please see your order details
                    below: 
                  </td>
                </tr>
              </table>
              <table style="width: 100%;  margin-top: 10px;">
                <tr>
                  <td style="width: 50%; text-align: left;" class="textGrey">Description</td>
                  <td style="width: 50%; text-align: right;" class="textGrey">Price</td>
                </tr>
              </table>
              <% for(let i=0; i < games.length; i++) { %>

              <table style="width: 100%;  margin-top: 10px;">
                  <td class="heroHeading2 mT10px"  style="width: 50%; text-align: left;"><%= games[i].Name %></td>
                  <td style="width: 50%; text-align: right;" class="heroHeading2 mT10px">Rp <%= games[i].amount %></td>
            
              </table>
              <% } %>
              <table style="width: 100%;  margin-top: 10px;">
                <tr>
                  <td style="width: 50%; text-align: left;">TOTAL</td>
                  <td style="width: 50%; text-align: right;">Rp <%= totalAmount %></td>
                </tr>
               
              </table>
             
              <table class="width100 mT10px">
                <tr style="background-color: rgb(94, 96, 94)">
                  <td
                    class="mT10px textWhite"
                    style="align-items: center; padding: 5px"
                  >
                    For more information on your purchase, please login
                    <p>
                      Visit
                      <a href="https://mckey.io/" style=" color: #fcb040;" class="textYellow">
                        mckey.io</a
                      >
                    </p>
                  </td>
                </tr>
              </table>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
