<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Insight HTML Email Template</title>
    <style type="text/css">
      * {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
      }
      html {
        font-size: 62.5%;
      }
      body {
        margin: 0;
        background-color: rgb(10, 10, 10);
        padding: 0 5%;
        font-family: "Poppins", sans-serif;
      }
      table {
        border-spacing: 0;
      }
      td {
        padding: 0;
      }
      img {
        border: 0;
      }
      /* utility Classes */
      .mt5px {
        margin-top: 0.5rem;
      }
      .mT20px {
        margin-top: 2rem;
      }
      .mT10px {
        margin-top: 10px;
      }

      /* utility Classes */
      .wrapper {
        max-width: 50rem;
        margin-inline: auto;
        table-layout: fixed;
        padding-top: 10px;
        padding-bottom: 20px;
      }
      .main {
        background-color: rgb(10, 10, 10);
        margin: 0 auto;
        width: 100%;
        /* max-width: 1200px; */
        border-spacing: 0;
        font-family: sans-serif;
        color: rgb(10, 10, 10);
        z-index: 1;
      }
      .logoColumn {
        text-align: center;
        padding: 10px;
      }
      .heroImage {
        width: 100%;
        height: auto;
      }
      .heroTextColumn {
        width: 90%;
        margin: auto;
        /* padding: 3rem 2rem; */
        /* border: 1px solid red; */
      }
      .heading_div {
        border: 2px solid #dddddd;
        padding: 1.5rem;
        isolation: isolate;
        margin-top: -8rem;
        z-index: 2;
        border-radius: 8px;
        background-color: #ffffff;
      }
      .heroHeading {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        color: rgb(10, 10, 10);
      }
      .heroHeading2 {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        color: rgb(10, 10, 10);
      }
      .logoImage {
        width: 15%;
      }
      /* emailTextCol */
      .email_text_col {
        margin-top: 3rem;
      }
      .applicationTypography {
        font-size: 1rem;
        font-weight: 500;
        /* line-height: 150%; */
        word-spacing: 0.2rem;
        color: rgb(10, 10, 10);
      }
    </style>
  </head>
  <body>
    <center class="wrapper">
      <table class="main" width="100%">
        <!-- BLUE BORDER -->
        <tr>
          <td class="logoColumn">
            <img
              src="https://s3.ap-south-1.amazonaws.com/storage.saps.one/asset/mckeyylogo.png"
              alt="logoImage"
              class="logoImage"
            />
          </td>
        </tr>
        <!-- LOGO SECTION -->
        <tr>
          <td class="heroImageColumn">
            <img
              src="https://s3.ap-south-1.amazonaws.com/storage.saps.one/asset/mckey-signup-splash_copy.png"
              class="heroImage"
            />
          </td>
        </tr>
      </table>
      <table class="heading_div" width="90%">
        <tr>
          <td>
            <table class="heroTextColumn" style="width: 100%">
              <tr>
                <td class="heroHeading">Welcome to Mckey</td>
              </tr>
            </table>
            <table class="heroTextColumn" style="width: 100%">
              <tr>
                <td class="heroHeading2 mt5px">
                  Get Your Keys to the Gaming World with mckey.io
                </td>
              </tr>
            </table>

            <table class="email_text_col" style="width: 100%">
              <tr>
                <td>
                  <table class="email_text_div_inside" style="width: 100%">
                    <tr>
                      <td class="applicationTypography mT20px">
                        Click To verify Account - <%= verificationLink %>
                      </td>
                    </tr>
                  </table>
                  <table class="email_text_div_inside" style="width: 100%">
                    <tr>
                      <td class="applicationTypography mT20px">Dear <%= name %>,</td>
                    </tr>
                  </table>
                  <table class="email_text_div_inside" style="width: 100%">
                    <tr>
                      <td class="applicationTypography mT20px">
                        We are thrilled to welcome you to
                        <strong>mckey.io</strong> the ultimate destination for
                        online Game keys. We are excited that you have chosen to
                        join our community, and we are confident that you will
                        have an amazing experience here.
                      </td>
                    </tr>
                  </table>
                  <table class="email_text_div_inside" style="width: 100%">
                    <tr>
                      <td class="applicationTypography mT20px">
                        As a new user, you now have access to our vast
                        collection of gaming keys, discounts, and promotions.
                        Whether you are a casual gamer or a hardcore gamer, we
                        have something for everyone. To get started, simply log
                        in to your account using the credentials you provided
                        during the signup process. Once logged in, you can
                        browse through our extensive library of games, select
                        the ones you like, and purchase the gaming keys at
                        discounted prices.
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
